body {
    font-family: sans-serif;
}


header {
    background-color: aquamarine;
    padding: 50px;
}

header a {
    text-decoration: none;
    padding: 5px;
    background-color: white;
    font-size: 25px;
    color: black;
}
